body {
    background-color: #fafafa;
    display: flex;
    box-sizing: border-box;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    font-size: 14px;
}
.box{
    max-width: 400px;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    flex-grow: 1;
}

.heading{
    background-color: #ffff;
    overflow: hidden;
    width: 177px;
    height: 51px;
    margin: 22px auto 12px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png);
    background-position: -98px 0;
}

.field{
    margin: 10px 0;
    position: relative;
    font-size: 14px;
    width: 100%;
    text-overflow: ellipsis;
}

input {
    padding: 9px 0px 7px 9px;
    font-size: 14px;
    width: 16rem;
    height: 1.2rem;
    outline: none;
    background: #fafafa;
    border: 1px solid #efefef;
    border-radius: 3px;
}

label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    padding-bottom: 15px;
    transform: translateY(10px);
    line-height: 6px;
    transition: all ease-out 0.1s;
    font-size: 14px;
    color: #999;
    padding-top: 6px;
}

input::placeholder{
    visibility: hidden;
}

.login-form::-moz-placeholder{
    color: transparent;
}

input:not(:placeholder-shown)+label{
    transform: translateY(0);
    font-size: 11px;
}

input:not(:placeholder-shown){
    padding-top: 14px;
    padding-bottom: 2px;
}

.login-button{
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid transparent;
    background-color: #3897f0;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.seperator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    margin-top: 6px;
}

.seperator .line{
    height: 1px;
    width: 40%;
    background-color: #dbdbdb;
}

.other{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 10px;
}

.fb-login-btn{
    margin: 10px;
    margin-top: 0.1px;
    height: 20px;
    bottom: 50px;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    color: #385185;
    font-weight: 600;
    background: transparent;
    padding-bottom: 50px;
}

img{
    height: 25px;
    margin-top: 5px;
    margin-bottom: 0.2px;
    margin-right: 5px;
}

.fb-icon{
    color: #385185;
    font-size: 1rem;
    padding-right: 2px;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.signup{
    color: #3897f0;
    font-weight: 600;
}